
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(44, 42, 42) , rgb(86, 100, 96));
    height: 100vh;
    width: 100%;
}

header {
    position: relative;
    margin:2% 0 0 5% ;
    width: 90%;
    height: 100px;
    background-color: rgba(202, 197, 197, 0.5);
    border-radius: 20px;
    background: linear-gradient(rgb(173, 173, 173) , rgb(48, 47, 47));

}

.header {
    width: 80%;
    padding-left:8% ;
    padding-top: 15px;  
    
}

.img {
    width: 0px;
    border-radius: 50%;    
}

h2 {
    position: absolute;
    left: 5%;
    top: 5%;
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1d0f0f;
}

span {
    color: lime;
}

.but {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    font-size: 32px;
    color: white;
    top: 25%;
    left: 90%;
    background: rgba(225, 219, 219, 0);
    border: none;
    transition: 0.1s;
}

.but:hover {
     border-radius: 50%;
     background: #1b1b1b7d;
     color: lime;
}

nav {
    position: absolute;
    left: 69%;
    bottom: 10px;
    width: 90px;
    background: #222020aa;
    border-radius: 20px;
    padding-left:20px ;

}
ul {
    padding: 0;
    margin: 0;
}

ul li {
    display: block;
    text-decoration: none;


}
ul a {
   text-decoration: none;
   color: silver;
   text-transform: capitalize;
   transition: 0.7s;
}
ul li a:hover {
    color: lime;
}

.body {
    position:absolute ;
    top: 140px;
    left: 5%;
    width: 90%;
    background:linear-gradient(rgb(205, 204, 204) , rgb(60, 56, 56));
    border-radius: 20px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


footer {
    position:relative;
    padding: 0;
    top: 90%;
    width: 100%;
    height: 200px;
    background: #858585;
    border: black 2px solid;
    border-radius: 20px  20px 0 0;
}



